__pycache__
venv
mamba-minimal
ssl
text-generation-webui
YOURPRIVATE.key
YOURPUBLIC.pem
._mistral-7B-v0.1
Mistral-7B-Instruct-v0.2
CodeLlama-13b-Python-hf
Molmo-7B-D-0924
Phi-3.5-mini-instruct
Phi-3.5-vision-instruct
whisper-large-v3
dialogs.db
config.bot
s.py
advanced-pdf-extractor.py
2006.04439v4.pdf
