__pycache__
venv
ssl
text-generation-webui
YOURPRIVATE.key
YOURPUBLIC.pem
._mistral-7B-v0.1
whisper-large-v3
dialogs.db
config.bot
advanced-pdf-extractor.py
2006.04439v4.pdf
Mistral-7B-Instruct-v0.2
Molmo-7B-D-0924
Phi-3.5-mini-instruct
Phi-3.5-vision-instruct
XTTS-v2
Qwen2.5-Coder-7B-Instruct
GOT-OCR2_0
hallo
TTS
vllm
DynamiCrafter
data_users
