__pycache__
venv
ssl
database_images
text-generation-webui
whisper-large-v3
dialogs.db
config.bot
XTTS-v2
hallo
TTS
vllm
DynamiCrafter
data_users
parser.log
client_trust.pem
YOURPRIVATE.key
YOURPUBLIC.pem
parse_tg.py
product_shop_bot.py
products.db
sorted_products
