absl-py==2.1.0
accelerate==0.23.0
aiohappyeyeballs==2.4.3
aiohttp==3.11.8
aiosignal==1.3.1
annotated-types==0.7.0
anyascii==0.3.2
astroid==2.7.3
attrs==24.2.0
audioread==3.0.1
babel==2.16.0
bangla==0.0.2
bigdl-core-xe-21==2.6.0b20241129
bigdl-core-xe-addons-21==2.6.0b20241129
bigdl-core-xe-batch-21==2.6.0b20241129
black==24.10.0
blinker==1.9.0
blis==0.7.11
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.7
bokeh==1.4.0
cairocffi==1.7.1
CairoSVG==2.7.1
catalogue==2.0.10
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
cloudpathlib==0.20.0
confection==0.1.5
contourpy==1.3.1
coqpit==0.0.17
coverage==7.6.8
cssselect2==0.7.0
cutlet==0.4.0
cycler==0.12.1
cymem==2.0.10
Cython==3.0.11
dateparser==1.1.8
decorator==5.1.1
defusedxml==0.7.1
docopt==0.6.2
dpcpp-cpp-rt==2024.2.1
einops==0.8.0
encodec==0.1.1
filelock==3.16.1
Flask==3.1.0
fonttools==4.55.0
frozenlist==1.5.0
fsspec==2024.10.0
fugashi==1.4.0
g2pkk==0.1.2
grpcio==1.68.0
gruut==2.2.3
gruut-ipa==0.13.0
gruut_lang_de==2.0.1
gruut_lang_en==2.0.1
gruut_lang_es==2.0.1
gruut_lang_fr==2.0.2
hangul-romanize==0.1.0
huggingface-hub==0.26.3
idna==3.10
impi-devel==2021.13.1
impi-rt==2021.13.1
inflect==7.4.0
intel-cmplr-lib-rt==2024.2.1
intel-cmplr-lib-ur==2024.2.1
intel-cmplr-lic-rt==2024.2.1
intel-opencl-rt==2024.2.1
intel-openmp==2024.2.1
intel-sycl-rt==2024.2.1
intel_extension_for_pytorch==2.3.110+xpu
ipex-llm==2.2.0b20241129
isort==5.13.2
itsdangerous==2.2.0
jaconv==0.4.0
jamo==0.4.1
jieba==0.42.1
Jinja2==3.1.4
joblib==1.4.2
jsonlines==1.2.0
kiwisolver==1.4.7
langcodes==3.5.0
language_data==1.3.0
lazy-object-proxy==1.10.0
lazy_loader==0.4
librosa==0.10.2.post1
llvmlite==0.43.0
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
mccabe==0.6.1
mdurl==0.1.2
mecab-python3==1.0.6
mkl==2024.2.1
mkl-dpcpp==2024.2.1
mojimoji==0.0.13
more-itertools==10.5.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
murmurhash==1.0.11
mypy-extensions==1.0.0
networkx==2.8.8
nltk==3.9.1
nose2==0.15.1
num2words==0.5.13
numba==0.60.0
numpy==1.26.4
oneccl-devel==2021.13.1
onemkl-sycl-blas==2024.2.1
onemkl-sycl-datafitting==2024.2.1
onemkl-sycl-dft==2024.2.1
onemkl-sycl-lapack==2024.2.1
onemkl-sycl-rng==2024.2.1
onemkl-sycl-sparse==2024.2.1
onemkl-sycl-stats==2024.2.1
onemkl-sycl-vm==2024.2.1
packaging==24.2
pandas==1.5.3
pathspec==0.12.1
pillow==11.0.0
platformdirs==4.3.6
pooch==1.8.2
preshed==3.0.9
propcache==0.2.0
protobuf==5.29.0
psutil==6.1.0
py-cpuinfo==9.0.0
pycparser==2.22
pydantic==2.10.2
pydantic_core==2.27.1
pydub==0.25.1
Pygments==2.18.0
pylint==2.10.2
pynndescent==0.5.13
pyparsing==3.2.0
pypinyin==0.53.0
pysbd==0.3.4
python-crfsuite==0.9.11
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.0
redis==5.2.0
regex==2024.11.6
requests==2.32.3
rich==13.9.4
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.14.1
sentencepiece==0.2.0
shellingham==1.5.4
six==1.16.0
smart-open==7.0.5
soundfile==0.12.1
soxr==0.5.0.post1
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
SudachiDict-core==20241021
SudachiPy==0.6.9
sympy==1.13.3
tabulate==0.9.0
tbb==2021.13.1
tensorboard==2.18.0
tensorboard-data-server==0.7.2
thinc==8.2.5
threadpoolctl==3.5.0
tinycss2==1.4.0
tokenizers==0.20.3
toml==0.10.2
torch==2.3.1+cxx11.abi
torchaudio==2.3.1+cxx11.abi
torchvision==0.18.1+cxx11.abi
tornado==6.4.2
tqdm==4.67.1
trainer==0.0.36
transformers==4.46.3
TTS
typeguard==4.4.1
typer==0.14.0
typing_extensions==4.12.2
tzlocal==5.2
umap-learn==0.5.7
Unidecode==1.3.8
unidic-lite==1.0.8
urllib3==2.2.3
wasabi==1.1.3
weasel==0.4.1
webencodings==0.5.1
Werkzeug==3.1.3
wrapt==1.12.1
yarl==1.18.0
zmq==0.0.0
